<div ng-app="appReader">
    <div ng-controller="landingController as vm" layout="column" style="height:500px;" ng-cloak>

        <section layout="row" flex>

            <md-sidenav class="md-sidenav-left"
                        md-component-id="left"
                        md-is-locked-open="$mdMedia('gt-md')"
                        md-whiteframe="4">

                <md-toolbar class="md-theme-orange">
                    <h1 class="md-toolbar-tools">Select a counter</h1>
                </md-toolbar>
                <md-content layout-padding ng-controller="leftController">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <p hide show-gt-md>
                        This sidenav is locked open on your device. To go back to the default behavior,
                        narrow your display.
                    </p>
                </md-content>

            </md-sidenav>

            <md-content flex layout-padding>
                <md-toolbar class="md-theme-indigo">
                    <div class="md-toolbar-tools">
                        <md-button ng-click="vm.actions.toggleLeft()" class="md-icon-button md-primary" aria-label="Settings">
                            <md-icon md-svg-icon="/images/hamburguer.svg"></md-icon>
                        </md-button>
                        <h2 md-truncate flex>Meter Reader</h2>
                    </div>
                </md-toolbar>
                <div layout="column" layout-align="top center">
                    <p>
                        The left sidenav will 'lock open' on a medium (>=960px wide) device.
                    </p>
                    <p>
                        The right sidenav will focus on a specific child element.
                    </p>

                    <div>
                        <md-button ng-click="vm.actions.toggleLeft()"
                                   class="md-primary" hide-gt-md>
                            Toggle left
                        </md-button>
                    </div>

                    <div>
                        <md-button ng-click="toggleRight()"
                                   ng-hide="isOpenRight()"
                                   class="md-primary">
                            Toggle right
                        </md-button>
                    </div>
                </div>

                <div flex></div>

            </md-content>



        </section>

    </div>
</div>